<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   th:replace="~{plantilla::layout(~{::section})}">
<!-- changePassword.html -->
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	<div th:if="${message != null}" class="alert alert-info" th:utext="${message}">message</div>
	<div th:if="${error != null}" class="alert alert-danger" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

    <div class="container">
        <div class="row wrapper">
				<h1 th:utext="#{changePassword.title}">Header</h1>
				<form name="frmlogin" th:action="@{/changePassword}" method="post">

					<div th:if=${param.error}>
						<div class="alert alert-danger">Usuario o contraseña inválidos</div>
					</div>

				    <div class="form-floating">
				      <input name="actualPassword" type="password" class="form-control" id="actualPassword" placeholder="Actual Password">
				      <label for="actualPassword">Actual Password</label>
				    </div>
				    <div class="form-floating">
				      <input name="newPassword" type="password" class="form-control" id="newPassword" placeholder="Nueva Password">
				      <label for="newPassword">Nueva Password</label>
				    </div>
				    <div class="form-floating">
				      <input name="repeatPassword" type="password" class="form-control" id="repeatPassword" placeholder="Confirmar Password">
				      <label for="repeatPassword">Confirmar Password:</label>
				    </div>
			
				    <button class="btn btn-primary w-100 py-2" type="submit" th:utext="#{command.enviar}">Sign in</button>
				</form>
		</div>
	</div>
</section>
</body>
</html>