<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 th:replace="~{plantilla::layout(~{::section})}">
<head>
<meta charset="utf-8">
<title>Registro de usuarios</title>

<body>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div th:if=${param.exito}>
					<div class="alert alert-info">Se ha modificado correctamente</div>
				</div>

				<h1 th:text="#{contenido.title}">Usuario</h1>
				<form th:action="@{/gestor/contenido}" method="post" th:object="${contenido}">
					<input id="id" type="hidden" th:field="*{id}">
					<div class="form-group">
						<label class="control-label" for="titulo" th:text="#{contenido.titulo} + ':'"> : </label> <input
							id="titulo" type="text" class="form-control" th:field="*{titulo}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="tipoContenido" th:text="#{contenido.tipo} + ':'"></label> <input
							class="form-control" th:field="*{tipoContenido}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="email" th:text="#{director.title}">Director : </label> 
					<select th:field="${directores}" th:attr="name='director'" multiple>
    					<option th:each="director : ${directores}" th:value="${director.id}" th:text="${director.nombre}">
    					</option>
					</select>
					</div>

					<div class="form-group">
						<label class="control-label" for="actores" th:text="#{actor.title}">Actores : </label> 
					<select th:field="${actores}" th:attr="name='actor'" multiple>
    					<option th:each="actor : ${actores}" th:value="${actor.id}" th:text="${actor.nombre}">
    					</option>
					</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="productora" th:text="#{contenido.productora}">Productora : </label> <input
							class="form-control" th:field="*{productora}"
							required autofocus="autofocus">
					</div>
					<div class="form-group">
						<label class="control-label" for="fechaEstreno" th:text="#{contenido.fechaEstreno}">F.Estreno : </label> <input
							type="date" class="form-control" th:field="*{fechaEstreno}"
							required autofocus="autofocus">
					</div>
					</div>
						<div class="form-group">
						<label class="control-label" for="genero" th:text="#{genero.title}">Género : </label> 
					<select th:field="${generos}" th:attr="name='genero'" >
    					<option th:each="genero : ${generos}" th:value="${genero.id}" th:text="${genero.nombre}">
    					</option>
					</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="pathCaratula" th:text="#{contenido.pathCaratula}">F.Estreno : </label> <input
							class="form-control" th:field="${contenido.pathCaratula}"
							required autofocus="autofocus">
					</div>
					<div class="form-group">
						<label class="control-label" for="pathContenido" th:text="#{contenido.pathContenido}">F.Estreno : </label> <input
							class="form-control" th:field="*{pathContenido}"
							required autofocus="autofocus">
					</div>


					<div class="form-group">
						<button type="submit" class="btn btn-success" th:text="#{registro.registro}">Registrar</button>
						<a th:href="@{/gestor/contenido}" class="btn btn-danger" th:text="#{command.cancelar}">Cancelar</a>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>
</body>
</html>
