<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{ plantillaDatos :: layout(~{::section}, ~{::title})}"
	>
<head>
<meta charset="utf-8">
<title th:text="#{actor.title}">Artista</title>
</head>
<body>
<section>
	<div class="container">
		<h1 th:text="#{actor.title}" >ARTISTAS</h1>
		<br>
		<div class="form-group">
			<span><a th:href="@{${pageUrlPrefix} + '/new'}" class="btn btn-primary" th:text="#{command.nuevo} + ' ' +  #{actor.title}">Nuevo</a></span>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th th:text="#{registro.nombre}">Nombre</th>
					<th th:text="#{texto.nacionalidad}">Nacionalidad</th>
					<th th:text="#{texto.fnacimiento}">F.Nacimiento</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="actor : ${actores}">
					<td th:text="${actor.nombre}">ID</td>
					<td th:text="${actor.nacionalidad}">ID</td>
					<td th:text="${#temporals.format(actor.fechaNacimiento, 'dd/MM/yyyy')}">ID</td>
					<td><a th:href="@{${pageUrlPrefix} + '/' + ${actor.id}}" class="btn btn-primary" th:text="#{command.modificar}">Modificar</a>
					<a th:href="@{${pageUrlPrefix} + '/delete/' + ${actor.id}}" class="btn btn-danger" th:text="#{command.borrar}">Borrar</a></td>
				</tr>
			</tbody>
		</table>
	</div>	
</section>
</body>
</html>
