<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	th:replace="~{ plantillaDatos :: layout(~{::section}, ~{::title})}"
	>
<head>
<meta charset="utf-8">
<title th:text="#{listarepro.title}">Contenido</title>
</head>
<body>
<section>
	<div class="container">
		<h1 th:text="#{listarepro.title} + 's'" >Contenidos</h1>
		<br>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th th:text="#{contenido.titulo}">Título</th>
					<th th:text="#{contenido.tipo}">Tipo contenido</th>
					<th th:text="#{director.title}">Director</th>
					<th th:text="#{actor.title}">actor</th>
					<th th:text="#{contenido.productora}">Productora</th>
					<th th:text="#{contenido.fechaEstreno}">Año estreno</th>
					<th th:text="#{genero.title}">Temática</th>
					<th th:text="#{contenido.caratula}">Carátula</th>
					<th th:text="#{contenido.url}">Carátula</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contenido : ${contenidos}">
					<td th:text="${contenido.titulo}">ID</td>
					<td th:text="${contenido.tipoContenido}">ID</td>
					<td th:text="${contenido.director}">ID</td>
					<td th:text="${contendio.actores}">ID</td>
					<td th:text="${contenido.productora}">ID</td>
					<td th:text="${#temporals.format(contenido.fechaEstreno, 'yyyy')}">ID</td>
					<td ><img src="../../img/ejemplo.png" th:src="@{${contenido.pathCaratula}}" th:alt-title="#{logo}" /></td>
					<td><a th:href="@{${pageUrlPrefix} + '/' + ${contenido.id}}" class="btn btn-primary" th:text="#{contenido.view}">Ver</a>
					<a th:href="@{${pageUrlPrefix} + '/delete/' + ${contenido.id}}" class="btn btn-danger" th:text="#{command.borrar}">Borrar</a></td>
				</tr>
			</tbody>
		</table>
	</div>	
</section>
</body>
</html>
